/* Assuming you have a CSS file linked to your HTML/JSX */

.sidebar-link {
  display: flex;
  gap: 0.6rem;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 3px;
}

.sidebar-link:hover {
  color: blue;
  font-weight: 700;
}
 
 

.sidebar {
    width: 250px;
    padding: 20px;
    margin-left: 10px;
    background-color: white;
    position: fixed;
    top: 70px;
    font-family: "Open Sans, sans-serif";
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
 
  